body.space {

	overflow: hidden;
	/* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	/* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex;
	/* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 50%;
	left: 50%;
}

.stars {
	position: absolute;
	top: 50%;
	left: 50%;
}

#sun {
	position: absolute;
	height:150px;
	width:150px;
	margin: auto;
	top: 44%;
	left: 44%;
}




#mercury {
	position: absolute;
	top: 50%; 
	left: 50%;
	animation: orbitme 2s infinite linear;
}

#venus {
	position: absolute;
	top: 50%; 
	left: 50%;
	animation: orbitv 2s infinite linear;
}

#earth {
	position: absolute;
	top: 50%; 
	left: 50%;
	animation: orbite 2s infinite linear;
}

/* keyframe start */
@keyframes orbitme {
	0% {transform: rotate(0deg) translatex(100px) translatey(100px) rotate(0deg)}
	50% {transform: rotate(180deg) translatex(100px) translatey(100px) rotate(180deg)}
	100% {transform: rotate(360deg) translatex(100px) translatey(100px) rotate(360deg)}
	}

/* keyframe start */
@keyframes orbitv {
	0% {transform: rotate(0deg) translatex(150px) translatey(150px) rotate(0deg)}
	50% {transform: rotate(180deg) translatex(150px) translatey(150px) rotate(180deg)}
	100% {transform: rotate(360deg) translatex(150px) translatey(150px) rotate(360deg)}
	}

/* keyframe start */
@keyframes orbite {
	0% {transform: rotate(0deg) translatex(215px) translatey(215px) rotate(0deg)}
	50% {transform: rotate(180deg) translatex(215px) translatey(215px) rotate(180deg)}
	100% {transform: rotate(360deg) translatex(215px) translatey(215px) rotate(360deg)}
	}



